Node-RED/flows.json
[{"id":"49239074.a5b4b","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"f37d5b8.e6927a8","type":"ui_form","z":"49239074.a5b4b","name":"","label":"Enter query","group":"4c6577ab.ef75c8","order":1,"width":0,"height":0,"options":[{"label":"","value":"input","type":"text","required":false,"rows":null}],"formValue":{"input":""},"payload":"","submit":"Submit","cancel":"Cancel","topic":"","x":90,"y":320,"wires":[["108e725f.27a29e"]]},{"id":"108e725f.27a29e","type":"function","z":"49239074.a5b4b","name":"","func":"msg.payload=msg.payload.input;\nreturn msg;","outputs":1,"noerr":0,"x":230,"y":240,"wires":[["31c8498.094beb6","852f4736.7576e8"]]},{"id":"20497b70.2477e4","type":"function","z":"49239074.a5b4b","name":"","func":"msg.payload=msg.payload.output.text[0];\nreturn msg;","outputs":1,"noerr":0,"x":650,"y":260,"wires":[["d29e862.a3d7278"]]},{"id":"9cae368b.5c0c88","type":"debug","z":"49239074.a5b4b","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":670,"y":100,"wires":[]},{"id":"d29e862.a3d7278","type":"ui_text","z":"49239074.a5b4b","group":"4c6577ab.ef75c8","order":3,"width":"8","height":"5","name":"","label":"Bot","format":"{{msg.payload}}","layout":"row-right","x":710,"y":360,"wires":[]},{"id":"31c8498.094beb6","type":"watson-conversation-v1","z":"49239074.a5b4b","name":"Customer Help Desk","workspaceid":"04b48cb7-6c7d-4530-b86a-8d2c5b1032a6","multiuser":false,"context":true,"empty-payload":false,"service-endpoint":"https://api.eu-gb.assistant.watson.cloud.ibm.com/instances/ba2fced0-b082-4b63-a390-e78d4659a6fb","timeout":"","optout-learning":false,"x":440,"y":180,"wires":[["20497b70.2477e4","9cae368b.5c0c88"]]},{"id":"852f4736.7576e8","type":"ui_text","z":"49239074.a5b4b","group":"4c6577ab.ef75c8","order":2,"width":0,"height":0,"name":"","label":"Customer","format":"{{msg.payload}}","layout":"row-left","x":380,"y":320,"wires":[]},{"id":"4c6577ab.ef75c8","type":"ui_group","z":"","name":"Customer Help Bot","tab":"18469c63.e5dd64","order":1,"disp":true,"width":"8","collapse":true},{"id":"18469c63.e5dd64","type":"ui_tab","z":"","name":"Customer Help Desk","icon":"dashboard","disabled":false,"hidden":false}]